#too {
    border: 2px solid black;
    border-collapse: collapse;

}

#too td {
    border: 1px solid black;
    padding: 10px;
}
#too tr:nth-child(1) td:nth-child(1) {
    background-color: red;
}
#too tr:nth-child(1) td:nth-child(2) {
    background-color: yellow;
}
#too tr:nth-child(2) td:nth-child(1) {
    background-color: gold;
}
#too tr:nth-child(2) td:nth-child(2) {
    background-color: olivedrab;
}
#too tr:nth-child(2) td:nth-child(3) {
    background-color: violet;
}
#too tr:nth-child(3) td:nth-child(1) {
    background-color: navajowhite;
}
#too tr:nth-child(3) td:nth-child(2) {
    background-color: salmon;
}
#too tr:nth-child(3) td:nth-child(3) {
    background-color: darkviolet;
}
#too tr:nth-child(4) td:nth-child(1) {
    background-color: peru;
}