#eesti {
    width: 330px;
    height: 210px;
    border: 1px solid lightgray;
    border-spacing: 0;
    position: absolute;
    top: 0;
    left: 40%;

}

#eesti tr:nth-child(1){
    background-color: blue;
}
#eesti tr:nth-child(3){
    background-color: black;
}
#eesti tr:nth-child(4){
    background-color: white;
}

#taani {
    width: 330px;
    height: 210px;
    border: 1px solid lightgray;
    border-spacing: 0;
    position: absolute;
    top: 300px;
    left: 40%;
}
#taani tr:nth-child(1) td:nth-child(1),
#taani tr:nth-child(3) td:nth-child(1){

    background-color: crimson;
    width: 65px;
}
#taani tr:nth-child(2){
    background-color: white;
    width: 45px;
    height: 45px;
}
#taani tr:nth-child(1) td:nth-child(3),
#taani tr:nth-child(3) td:nth-child(3){

    background-color: crimson;
    width: 200px;
}
#taani tr:nth-child(1) td:nth-child(2),
#taani tr:nth-child(3) td:nth-child(2){

    background-color: white;
    width: 45px;
}
td{
    border: 0px solid black;
}

#france {
    width: 330px;
    height: 210px;
    border: 1px solid lightgray;
    border-spacing: 0;
    position: absolute;
    top: 600px;
    left: 40%;
}
#france td:nth-child(1){
    background-color: blue;
}
#france td:nth-child(2){
    background-color: white;
}
#france td:nth-child(3){
    background-color: red;
}

#Madagaskar {
    width: 330px;
    height: 210px;
    border: 1px solid lightgray;
    border-spacing: 0;
    position: absolute;
    top: 900px;
    left: 40%;
}
#Madagaskar tr:nth-child(1)  td:nth-child(1){
    background-color: white;
    width: 100px;
}
#Madagaskar tr:nth-child(1) td:nth-child(2){
    background-color: crimson;
}
#Madagaskar tr:nth-child(2) td:nth-child(1){
    background-color: green;
}
