form {
    font-family: "Courier New", monospace;
    text-align:left;
    border-radius: 30px;
}
h1 {
    font-family: Georgia, serif;
    color: crimson;
}

table, td {
    border-collapse: collapse;
    width: 30%;
    padding: 1%;
    border-radius: 30px;
    background-color: mintcream;
}
input[type="text"] {
    color: dodgerblue;
    background-color: cornsilk;
    border: 1px solid dodgerblue;
}
input[type="tel"] {
    color: dodgerblue;
    background-color: cornsilk ;
    border: 1px solid dodgerblue;
}

label{
    font-weight: bold;

}
input[type="radio"] {
    accent-color: red;
}
input[type="checkbox"] {
    accent-color: crimson;
}
input:hover,
select:hover {
    background-color: lightblue;
}
